{{> header }}
{{> navbar }}
    <main>
        <div class="jumbotron">
            <div class="container">
                <h1 class="display-3">Hello, {{ capitalize name}}!</h1>
                <p>This is a template for a simple marketing or informational website. It includes a large callout called a jumbotron and three supporting pieces of content. Use it as a starting point to create something more unique.</p>
                <p><a class="btn btn-danger btn-lg" href="#" role="button">Learn more »</a></p>
            </div>
        </div>
        <div class="container">
            <!-- Example row of columns -->
            <div class="row">
                <div class="col-md-4">
                    <h2>Heading</h2>
                    <img class="img-fluid animated fadeIn" src="http://lorempixel.com/400/200" />
                    <p class="pt-3">Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.
                    </p>
                    <p><a class="btn btn-primary" href="#" role="button">View details »</a></p>
                </div>
                <div class="col-md-4">
                    <h2>Heading</h2>
                    <img class="img-fluid animated fadeIn" src="http://lorempixel.com/600/300" />
                    <p class="pt-3">Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.
                    </p>
                    <p><a class="btn btn-primary" href="#" role="button">View details »</a></p>
                </div>
                <div class="col-md-4">
                    <h2>Heading</h2>
                    <img class="img-fluid animated fadeIn" src="http://lorempixel.com/500/250" />
                    <p class="pt-3">Donec sed odio dui. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Vestibulum id ligula porta felis euismod semper. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit.
                        </p>
                    <p><a class="btn btn-primary" href="#" role="button">View details »</a></p>
                </div>
            </div>

            <hr>

        </div>
    </main>
{{> footer }}
